<footer>
            <hr>
            CST336 Internet Programming. 2020&copy; Wilson<br>
            
            <a href="http://www.csumb.edu"><img src="/img/csumb.png" width="200" alt="The CSUMB logo."></a>
            <hr><span id="finePrint">Fake</span> Contact Information: <br> <%= fakeData[0] %> <br> <%= fakeData[1] %> 
        </footer>
        

    </body>
</html>
